<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판 만들기 - 혼자공부</title>
</head>
<body>
    <header id="header">
        헤더 삽입부
        <hr>
    </header>
    <table class="table" id="article-table">
        <thead>
        <tr>
            <th class="title col-6"><a>제목</a></th>
            <th class="hashtag col-2"><a>해시태그</a></th>
            <th class="user-id"><a>작성자</a></th>
            <th class="created-at"><a>작성일</a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="title"><a>첫글</a></td>
            <td class="hashtag"><span class="badge text-bg-secondary mx-1"><a class="text-reset">#java</a></span></td>
            <td class="user-id">Uno</td>
            <td class="created-at"><time>2022-01-01</time></td>
        </tr>
        <tr>
            <td>두번째글</td>
            <td>#spring</td>
            <td>Uno</td>
            <td><time>2022-01-02</time></td>
        </tr>
        <tr>
            <td>세번째글</td>
            <td>#java</td>
            <td>Uno</td>
            <td><time>2022-01-03</time></td>
        </tr>
        </tbody>
    </table>
    <footer id="footer">
        <hr>
        푸터 삽입부
    </footer>
</body>
</html>